---
import Layout from '../layouts/Layout.astro';
import DashboardTable from '../components/DashboardTable.astro';
---

<Layout title="Dashboard de Administración">
  <div class="py-4">
    <DashboardTable />
  </div>
</Layout>
