---
import Layout from '../layouts/Layout.astro';
import TicketForm from '../components/TicketForm.astro';
---

<Layout title="Levantamiento de Ticket">
  <div class="py-6 flex flex-col items-center justify-center">
    <TicketForm />
  </div>
</Layout>
